<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.authentication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Authentication">
        <activity
            android:name=".AddCodeActivity"
            android:label = "Add Identifier Code"
            android:parentActivityName=".AdminActivity"></activity>
        <activity
            android:name=".DeleteCodeActivity"
            android:label = "Delete Identifier Code"
            android:parentActivityName=".AdminActivity"></activity>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value= "com.example.authentication.AdminActivity" />
        <activity
            android:name=".AdminActivity"
            android:label = "Admin Interface"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".StaffActivity"
            android:label = "Staff Interface"
            android:parentActivityName=".MainActivity"></activity>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value= "com.example.authentication.MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>